h2.belangrijk{
    background-color: red;
}
a[target*="lan"]{
    background-color: green;
}
*{
    background-color: antiquewhite;
}
article p{
    background-color: orange;
}
h3 , p{
    color:blueviolet;
}
p:hover{
    background-color: black;
    color:white;
}
p::before{
    content:'read this';
}